php_flag display_errors off

Options +FollowSymLinks

RewriteEngine on
RewriteBase /subdee/

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.(asp|css|dll|gif|ico|jpg|jpeg|js|png|swf|xml)$

# otherwise forward it to index.php
RewriteRule . index.php
